<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>이메일 인증 성공 | MailedIt!</title>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css" />
  <style>
    body {
      margin-top: 5%;
      text-align: center;
      font-family: 'pretendard';
    }
  </style>
</head>
<body>
  <h1>이메일 인증에 성공했습니다!</h1>
  <h2><a href="https://mailedit.kro.kr">MailedIt!</a>으로 이동하여 로그인 후 서비스를 이용해 주세요.</h2>
</body>
</html>
